* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shelf {
  border: 1px solid #000;
  width: 40%;
}

.rack {
  display: flex;
  align-items: flex-end;
  border-bottom: 3px solid green;
  height: 100px;
}

.product {
}

.product img {
  height: 80px;
  margin-right: 1rem;
}

.draggin {
  opacity: 0.5;
  cursor: move;
}

.object_data {
  width: 40%;
  max-width: 40%;
  max-height: 40%;
  background-color: rgb(194, 190, 190);
  word-break: break-all;
  overflow-y: scroll;
  height: 500px;
}

.rack_number {
  font-size: 50px;
  transform: translateX(-150%);
}
